body {
    background-color: lightpink;
    background-image: url("https://img1.picmix.com/output/stamp/normal/5/2/1/4/1744125_d6c21.gif");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-attachment: fixed;
    background-size: 100px;
}

p {
    font-size: 0.8in;
    color: lightgreen;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20240103/pngtree-vivid-abstract-texture-a-burst-of-colorful-background-image_13892083.png");
    background-size: cover;
}

div {
    width: 500px;
    height: 500px;
    border-width: 50px;
    margin: 30px; 
}

#d1 {
    background-image:
        linear-gradient(rgba(245, 8, 205, 0.756), rgba(233, 10, 151, 0.795)),
        url("https://img.freepik.com/free-photo/abstract-flowing-neon-wave-background_53876-101942.jpg?semt=ais_incoming&w=740&q=80");
    background-size: cover;
    border-style: ridge;
    border-color: brown;
}

#d2 {
   background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20240103/pngtree-vivid-abstract-texture-a-burst-of-colorful-background-image_13892083.png")
   background-size: cover;
   border-style: solid ; 
   border-image: repiating-radial-gradient( 45deg,yellow,blue) 30;
   box-shadow: 0px 0px 100px 
}
#img1 {
    display: block;
    margin: auto; 
    border-radius: 50%;
    box-shadow: 0 0 50px deeppink;
}


#img2 {
   width: 50%;
  border: 30px groove violet;
   margin-top: 50px;
}